DATABASE_URL=mongodb+srv://avadhgolakiya88_db_user:avadh1234@cluster0.an4widn.mongodb.net
JWT_SECRET=replace-with-a-long-random-string
PORT=3333

# Firebase Admin SDK (required to SEND push notifications)
# Download from Firebase Console → Project Settings → Service Accounts → Generate new private key
GOOGLE_APPLICATION_CREDENTIALS=./firebase-service-account.json
FIREBASE_STORAGE_BUCKET=texttile-253c7.firebasestorage.app

# SMTP Email (Gmail with App Password)
SMTP_USER=chanchadtej111@gmail.com
SMTP_PASS=okhfykiyioeiypmt

# Cloudinary Credentials (Switching from Firebase Storage)
CLOUDINARY_CLOUD_NAME=de4rum7dw
CLOUDINARY_API_KEY=354792178452455
CLOUDINARY_API_SECRET=pv1z6_ZfGGFuPW7J4DdfI3Qvi2E